body {
  background: linear-gradient(
    45deg,
    #c7f5fe 10%,
    #c7f5fe 40%,
    #fcc8f8 40%,
    #fcc8f8 60%,
    #eab4f8 60%,
    #eab4f8 65%,
    #f3f798 65%,
    #f3f798 90%
  );
}

.page {
  max-width: 690px;
  min-width: 300px;
  margin: 0 auto;
}
